<!-- Footer Component -->
<footer role="contentinfo">
  <div class="container">

    <div class="social">
      <ul>
        <li><i class="fa fa-facebook-square"></i></li>
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-pinterest-square"></i></li>
        <li><i class="fa fa-instagram"></i></li>
      </ul>
    </div>

    <div class="mall-details">
      <ul>
        <li><a href="/hours" class="hours"><span>Today's Hours</span> 10a - 9p</a>  {{> weather }}</li>
        <li>{{mall.streetaddress}}, {{mall.city}}, {{mall.state}}, {{mall.zip}}</li>
        <li>{{mall.phone}}</li>
      </ul>
      <ul class="legal">
        <li><a href="">Terms of Use</a></li>
        <li><a href="">Privacy Policy</a></li>
      </ul>
    </div>

    <img class="pw-logo" src="/images/placewise-logo.png" alt="Placewise Media">

  </div>
</footer>
