<!-- Footer Component -->
<footer role="contentinfo">
  <div class="container">
    <ul>
      <li><a href="">Leasing</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Directions</a></li>
      <li><a href="">Terms of Use</a></li>
      <li><a href="">Privacy Policy</a></li>
      <li>ph <a class="tel" href="tel:+{{ mall.phone }}">{{ mall.phone }}</a></li>
      <li>{{ mall.streetaddress }}, {{ mall.city }}, {{ mall.state }} {{ mall.zip }}</li>
    </ul>
    <span class="footer-disclaimer">&copy; <span id="year" class="getYear">year</span> All Rights Reserved. Access and Use of this Website Constitutes Your Acceptance of Our <a href="">Terms of Use and Privacy Policy</a>.</span>
    <img class="pw-logo" src="/assets/mimages/placewise-logo.png" alt="Placewise Media">
  </div>
</footer>
